{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="{% static 'aside.css' %}">
  {% block extra_css %}{% endblock %}
  <title>C&N | {% block title %}Дашборд{% endblock %}</title>
</head>
<body>
  <div class="root-container">
    <aside>
      <div class="aside-container">
        <div class="aside-header-content">
          <h1>C&N</h1>
        </div>

        <nav class="aside-navigation">
          <a href="#" class="a-aside-nav-hover text-regular font-normal">Дашборд</a>
          <a href="{% url 'fileslist' %}" class="a-aside-nav-hover text-regular font-normal">Файлы</a>
        </nav>

        <div class="profile-button">
          <a href="#" class="a-aside-nav-hover text-regular font-normal">Профиль</a>
        </div>
      </div>
    </aside>

    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
</body>
</html>