{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="{% static 'aside.css' %}">
  {% block extra_css %}{% endblock %}
  <title>C&N | {% block title %}Дашборд{% endblock %}</title>
</head>
<body>
  <aside>
    <div class="gap-v-10">
      <div class="aside-header-content">
        <h1>C&N</h1>
      </div>

      <nav class="aside-navigation">
        <div class="aside-nav-section">
          <h4 class="font-select red no-font-select">Админка</h4>

          <div class="gap-v-10">
            <a href="#" class="aside-nav-btn button-left-right text-regular font-light">Дашборд</a>
          </div>
        </div>

        <div class="aside-nav-section">
          <h4 class="font-select pink no-font-select">Пользователи</h4>

          <div class="gap-v-10">
            <a href="{% url 'groupslist' %}" class="aside-nav-btn button-left-right text-regular font-light">Создать группу</a>
            <a href="{% url 'groupslist' %}" class="aside-nav-btn button-left-right text-regular font-light">Все группы</a>
            <a href="{% url 'userslist' %}" class="aaside-nav-btn button-left-right text-regular font-light">Создать пользователя</a>
            <a href="{% url 'userslist' %}" class="aside-nav-btn button-left-right text-regular font-light">Все пользователи</a>
          </div>
        </div>

        <div class="aside-nav-section">
          <h4 class="font-select yellow no-font-select">Файлы</h4>

          <div class="gap-v-10">
            <a href="{% url 'filescreate' %}" class="aside-nav-btn button-left-right text-regular font-light">Загрузить</a>
            <a href="{% url 'fileslist' %}" class="aside-nav-btn button-left-right text-regular font-light">Все файлы</a>
          </div>
        </div>
      </nav>

      <div class="profile-button">
        <a href="#" class="aside-nav-btn button-left-right text-regular">Профиль</a>
      </div>

      <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="text-regular font-normal">Выйти</button>
        </form>
    </div>
  </aside>

  <main>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>