# EMAIL DATA
EMAIL_SEND_PASSWORD=password
EMAIL_FOR_SEND=email for send message
EMAIL_API_KEY=api key

# DATABASE
DATABASE_URL=driver://user:pass@localhost/dbname

# ES3
AWS_ACCESS_KEY_ID=access key
AWS_SECRET_ACCESS_KEY=secret access key
AWS_STORAGE_BUCKET_NAME=bucket name
AWS_S3_REGION_NAME=region name
AWS_S3_ENDPOINT_URL=url