aside {
  position: fixed;
  left: 0;
  right: 0;

  width: 260px;
  max-width: 260px;
  min-width: 100px;
  resize: horizontal;
  overflow: auto;

  height: 100vh;
  background-color: var(--bg-block);
  border-right: 1px solid var(--border-dark);
  box-shadow: var(--shadow-sm);
}
.aside-container {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aside-header-content {
  border-bottom: 1px solid var(--border-dark);
  padding-bottom: 10px;
}

