aside {
  width: 230px;
  overflow: auto;

  height: 100vh;
  background: var(--bg-gradient);
  border-right: 1px solid var(--border-light);
  box-shadow: var(--shadow-sm);
}
.aside-container {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aside-header-content {
  border-bottom: 1px solid var(--border-light);
  padding-bottom: 10px;
}

.aside-navigation {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--border-light);
  padding-bottom: 10px;
}
.aside-navigation a {
  display: block;
  border-radius: 3px;
  padding: 5px 10px;
}

.profile-button a {
  display: block;
  border-radius: 3px;
  padding: 5px 10px;
}

.a-aside-nav-hover:hover {
  background-color: var(--accent-color);
}