/* FILES */

.all-files-section-create-button {
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: var(--accent-color);
}
.all-files-section-create-button:hover {
  background-color: var(--accent-color-hover);
}

.all-files-list-files {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.all-files-filter-form-container h3 {
  margin-bottom: 10px;
}
.all-files-filter-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.all-files-filter-form .filter-form-submit {
  background: var(--accent-color);
}
.all-files-filter-form .filter-form-submit:hover {
  background: var(--accent-color-hover);
}
.all-files-filter-form .form-container {
  display: flex;
  gap: 10px;
}

.all-files-action-container h3 {
  margin-bottom: 10px;
}
.all-files-action-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.files-td-id {
  width: 60px;
  text-align: center;
}
.files-td-title {
  max-width: 170px;
  overflow-wrap: break-word;
}
.files-td-desc {
  max-width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.files-td-ext {
  text-align: center;
}
.files-td-actions {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

/* FILE */

/* CREATE FILE */
