@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --accent-color: #2f8fb9;
  --accent-color-hover: #237a9f;

  --bg-page: #1a1c24;
  --bg-block: #242731;
  --bg-table: #1d2028;
  --bg-gradient: linear-gradient(180deg, #2b303b, #1c1f26);

  --border-light: #4c5366;
  --border-dark: #1a182f;

  --shadow-sm: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  --shadow-md: 0px 0px 24px 8px rgba(13, 15, 20, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: block;
}
section {
  margin-bottom: 32px;
}

button {
  width: 100%;
  padding: 10px;
  background: var(--bg-gradient);
  border: 1px solid var(--border-dark);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: #d1d1d1;
}
button:hover {
  background: var(--accent-color-hover);
}

input {
  width: 100%;
  padding: 10px 15px;
  background: var(--bg-gradient);
  border: 1px solid var(--border-dark);
  border-radius: 3px;
  outline: none;
  color: #d1d1d1;
  font-size: 16px;
}
input:hover {
  border: 1px solid var(--accent-color-hover);
}
input:focus {
  border: 1px solid var(--accent-color);
}

select {
  width: 100%;
  background: var(--bg-gradient);
  border: 1px solid var(--border-dark);
  border-radius: 3px;
  outline: none;
  color: #d1d1d1;
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #d1d1d1;

  background-color: var(--bg-page);
}

.main-block {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--border-light);
  background-color: var(--bg-block);
  box-shadow: var(--shadow-sm);
}

/* FONTS */

.text-small {
  font-size: 14px;
}
.text-regular {
  font-size: 16px;
}
.text-large {
  font-size: 22px;
}

.font-light {
  font-weight: 400;
}
.font-normal {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

/* TABLES */

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-light);
}
thead {
  border-bottom: 1px solid var(--border-light);
}
th {
  text-align: left;
  background: var(--bg-gradient);
  padding: 10px;
}

td {
  padding: 5px;
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
}

table tbody tr:nth-of-type(even) {
  background-color: var(--bg-table);
}

/* MAIN PAGE */

.root-container {
  position: fixed;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-wrap: nowrap;
}

main {
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 1050px) {
  main {
    padding: 10px;
  }
}
@media (max-width: 801px) {
  main {
    padding: 5px;
  }
}