{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'files.css' %}">
{% endblock %}

{% block title %}Файлы{% endblock %}

{% block content %}
<section class="main-block all-files-container-metrics">
  <h2>Метрика диска</h2>

  <div class="all-files-info-container">
    <div class="file-info-card main-block">
      <p class="text-small font-bold">Записи: {{ files|length }}</p>
    </div>

    <div class="file-info-card main-block">
      <p class="text-small font-bold">Всего: {{ disk_usage.total|stringformat:".2f" }} GB</p>
    </div>

    <div class="file-info-card main-block">
      <p class="text-small font-bold">Использовано: {{ disk_usage.used|stringformat:".2f" }} GB ({{ disk_usage.percent_used|floatformat:1 }}%)</p>
    </div>

    <div class="file-info-card main-block">
      <p class="text-small font-bold">Свободно: {{ disk_usage.free|stringformat:".2f" }} GB</p>
    </div>
  </div>
</section>

<section class="main-block all-files-list-files">
  <h2>Все файлы</h2>

  <div class="main-block all-files-filter-form-container">
    <h3>Фильтрация</h3>

    <form class="all-files-filter-form" method="GET" enctype="multipart/form-data">
      <div class="form-container">
        {{ filter_form.title }}
        {{ filter_form.description }}
        {{ filter_form.extension }}
      </div>

      <button type="submit" class="filter-form-submit text-regular font-bold">Фильтр</button>
    </form>
  </div>

  <div class="main-block all-files-action-container">
    <h3>Действия</h3>

    <div class="all-files-action-content">
      <a class="all-files-section-create-button text-regular font-normal" href="{% url 'filescreate' %}">Загрузить</a>

      <button class="text-regular font-normal">Удалить</button>

      <button class="text-regular font-normal">Отправить</button>
    </div>
  </div>

  <table class="main-block">
    <thead>
      <th>
        <input type="checkbox">
      </th>
      <th >ID</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Расширение</th>
      <th>Создан</th>
      <th>Обновлен</th>
    </thead>
    <tbody>
      {% for file in files %}
      <tr data-href="{% url 'filesdetail' file.pk %}">
        <td>
          <input type="checkbox" id="{{ file.pk }}">
        </td>
        <td class="files-td-id font-bold">{{ file.id }}</td>
        <td class="files-td-title font-bold">{{ file.title }}</td>
        <td class="files-td-desc">{{ file.description }}</td>
        <td class="files-td-ext font-bold">{{ file.extension }}</td>
        <td>{{ file.created_at }}</td>
        <td>{{ file.updated_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<script>
  // Переход на страницу деталей одного файла по клику в таблице
  document.addEventListener("DOMContentLoaded", function() {
    const rows = document.querySelectorAll("tr[data-href]");
      rows.forEach(row => {
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        });
      });
  });

  // Нормальный клик на чекбокс
  document.querySelectorAll('tbody tr td:first-child input[type="checkbox"]').forEach(checkbox => {
    checkbox.addEventListener('click', function(event) {
      event.stopPropagation();
    });
  });
</script>
{% endblock %}