{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'files.css' %}">
{% endblock %}

{% block title %}Файлы{% endblock %}

{% block content %}
<section class="main-block all-files-container-metrics">
  <h2>Метрика</h2>

  <div class="all-files-info-container">
    <div class="file-info-card main-block">
      <p class="text-small font-bold">Записи: {{ files|length }}</p>
    </div>

    <div class="file-info-card main-block">
      <p class="text-small font-bold">Всего: {{ disk_usage.total|stringformat:".2f" }} GB</p>
    </div>

    <div class="file-info-card main-block">
      <p class="text-small font-bold">Использовано: {{ disk_usage.used|stringformat:".2f" }} GB ({{ disk_usage.percent_used|floatformat:1 }}%)</p>
    </div>

    <div class="file-info-card main-block">
      <p class="text-small font-bold">Свободно: {{ disk_usage.free|stringformat:".2f" }} GB</p>
    </div>
  </div>
</section>

<section class="all-files-section-create-button">
  <a class="text-regular font-normal" href="{% url 'filescreate' %}">Загрузить</a>
</section>

<section class="all-files-list-files">
  <h2>Все файлы</h2>

  {% for file in files %}
  <form action="" class="main-block all-files-form-list-files">
    <a href="{% url 'filesdetail' file.id %}" class="all-files-bock-file-info">
      <div class="block-file-main-info">
        <h2>
          Название: <span class="text-regular font-normal">{{ file.title }}</span>
        </h2>
        <h3>
          Описание:<br>
          <span class="text-regular font-normal">{{ file.description }}</span>
        </h3>
      </div>

      <div class="block-file-second-info">
        <p class="text-regular font-normal">Расширение: {{ file.extension }}</p>
        <p>Создан: {{ file.created_at }} | Обновлен: {{ file.updated_at }}</p>
      </div>
    </a>

    <button>Удалить</button>
  </form>
  {% endfor %}
</section>
{% endblock %}