{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <link rel="stylesheet" href="{% static 'auth.css' %}" />
  <title>C&A | Вход</title>
</head>
<body>
  <div class="auth-center-container">
    <form class="auth-form main-block" method="post">
      {% csrf_token %}

      <h1>Авторизация</h1>

      <div class="auth-block">
        <div class="auth-input">
          <label>Имя пользователя</label>
          {{ form.username }}
        </div>

        <div class="auth-input">
          <label>Пароль</label>
          {{ form.password }}
        </div>
      </div>

      <button type="submit" class="text-regular font-normal">Войти</button>
    </form>
  </div>
</body>
</html>